.website-description {
    position: relative;
    top: 75px;
    font-size: 24px;
    padding: 5px;
}


#git-hub {
    text-decoration: none;
    color: rgb(100, 0, 0);
    right: 0;
    padding: 3px
}