p {
    padding: 3px 10px 3px 10px;
    font-size: 20px;
}


.about-game {
    clear: left;
    position: relative;
    top: 75px;
    padding: 1px;
    padding-top: 5px;
}

.description {
    top: 75px;
    padding: 3px 10px 3px 10px;
    font-size: 24px;
}


#mafia-img {
    float: right;
    overflow: auto;
    margin-left: 3px;
    height: 555px;
}

.buttons-for-start {
    display: block;
    position: fixed;
    right: 0;
    width: 460px;
    height: 75px;
    margin-top: 10px;
    min-width: 460px;
}

.start-game {
    float: left;
    width: 150px;
    height: 75px;
    margin-right: 2px;
    text-decoration: none;
    border: 1px solid rgb(70, 70, 70);
    background-color: #333;
    font-size: 22px;
    text-align: center;
    color: white;
    border-radius: 7px;
}

.start-game:hover {
    background-color: #222;
}