.all-roles {
    position: relative;
    top: 75px;
    padding: 4px;

}

div {
    clear: left;
    position: relative;
    padding: 5px;
}




.mafia-imgs {
    float: right;
    overflow: auto;
    height: 400px;
}


.red-squad-img {
    height: 425px;
    overflow: auto;
    float: left;
}

.grey-squad,
.additional-deck {
    clear: left;
    position: relative;
    overflow: auto;
    padding: 1px;
    border: 1px solid rgb(70, 70, 70);
}

.grey-squad-img {
    float: right;
    height: 400px;
    overflow: auto;
    margin: 3px;
}

.add-black,
.add-red,
.add-grey,
.add-leader {
    overflow: auto;
    clear: left;
    border: none;
}

#courtesan-img {
    float: left;
    height: 400px;
    margin-right: 8px;
}

.add-red-img {
    float: right;
    height: 500px;
}

.add-grey-img {
    float: left;
    height: 500px;
    margin-right: 8px;
}

.add-leader-img {
    float: right;
    height: 500px;
}