.all_roles {
    position: relative;
    top: 75px;
    padding: 4px;

}

div {
    clear: left;
    overflow: auto;
    position: relative;
    padding: 1px;
}

p {
    font-size: 22px;
    text-align: justify;
}

h1,
h2,
h3 {
    color: rgb(75, 0, 0);
}

img {
    height: 400px;
    float: right;
    overflow: auto;
}