body {
    overflow-x: hidden;
}

.rules-div {
    position: relative;
    top: 75px;
}

h1,
h2,
h3 {
    position: relative;
    left: 5px;
}

p {
    font-size: 22px;
    padding-left: 10px
}

#leaderWithCard {
    float: right;
    height: 350px;
    padding-top: 6px;
}

.main-rules {
    margin: 1px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 8px;
    text-align: center;
}

.links {
    position: relative;
    left: 5px;
    font-size: 18px;
    text-decoration: none;
    background-color: rgb(70, 70, 70);
    color: white;
    text-align: center;
    border-radius: 3px;
}

.links:hover {
    background-color: rgb(40, 40, 40);
    border: 1px solid black;
}